body {
  height: 100vh;
  margin: 0;

  background-color: #f8f4ee;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -110px;
}

.port {
  flex: 1;
}

.right-generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.right-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.right-headers h1 {
  margin: 0;
  margin-right: 40px;
}

.contenido-mismalinea {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-mismalinea .example-2
{ display: flex;
  flex-direction: column; justify-content: center; align-items: center; }

.button1 {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #f8f4ee;
  padding: 10px 20px;
  font-family: "georgia", 'Times New Roman', Times, serif;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;

}

.button1:hover {
  color: #f8f4ee;
}

.button1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #1c586b;
  z-index: -1;
  transition: all 1s;
}

.button1:hover::before {
  width: 160%;
}

.slider-container {
  position: relative;
  width: 1366px;
  height: 550px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000004d;
  margin-top: -50px;

}


.image-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

img {
  width: 500px;
  height: auto;
}

.btn {
  position: absolute;
  top: 50%;
  color: #f8f4ee;
  front-size: 1.6rem;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;

}

.btn.prev {
  left: 10px;

}

.btn.next {
  right: 10px;

}

.btn:hover {
  opacity: 1;
}


.fixed-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f4ee;
  text-align: center;
  z-index: 1000;
}

.button1 {
  margin-left: 50px;
}

body {
  margin-top: 100px;

}


.port {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: left;

}
.port2 {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: left;
  margin-top: -150px;

}

.port3 {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: left;
 

}
.title {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: right;


}

.title2 {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: right;

}

.title3 {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: right;
  margin-left: -30px;

}

.title4 {
  color: black;
  font-family: "Advent pro", 'Times New Roman', Times, serif;
  text-align: center;

}

p {
  color: black;
  font-family: "georgia", 'Times New Roman', Times, serif;
  max-width: 600px;

}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header-container2 {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-top: 60px;
}


.header-container3 {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-top: 60px;
}









.card {
  position: relative;
  width: 220px;
  height: 300px;
  background-color: #f8f4ee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f4ee;
  transform: rotateX(-90deg);
  transform-origin: bottom;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: black;
  line-height: 1.4;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto ;
  margin-left: 70px;
}




.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  max-width: 350px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.26);

}

.header-img2 {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 20px 18px;
}




.card10,
.card11,
.card12,
.card13,
.card14,
.card15,
.card16,
.card17,
.card18 {
  max-width: 350px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.26);

}

.header-img3 {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 20px 18px;
}





.image-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  margin-top: 60px;
}

.image-container4 img {
  width: 1366px;
  height: 550px;
  object-fit: cover;
}






ul {
  list-style: none;
}

.example-2 {
  display: flex;
  /*justify-content: flex-start;
  align-items: flex-end;*/
  flex-direction: column;
  justify-content: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 0.5rem;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 10%;
  left: 110%;
  /*transform: translateY(200%);*/
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  /*top: -50px;*/
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #1c586b;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #1c586b;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #1c586b;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #1c586b;
}
.example-2 .icon-content a[data-social="Instagram"] .filled,
.example-2 .icon-content a[data-social="Instagram"] ~ .tooltip {
  background-color: #1c586b;
}






.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #1c586b;
  padding: 20px;
  border-radius: 10px;
  margin-left: 510px;
}

.message {
  color: #1c586b;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #1c586b;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #1c586b;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #1c586b;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #1c586b;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #1c586b;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: #1c586b;
}

.fancy {
  background-color: white;
  border: 2px solid #1c586b;
  border-radius: 0px;
  box-sizing: border-box;
  color: #1c586b;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #1c586b;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #1c586b;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #1c586b;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #1c586b;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #1c586b;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #1c586b;
  background: #1c586b;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #1c586b;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}